$lightblue = #5BB1B7
$verylightblue = #96CDD1
$darkblue = #0685AA
$lightred = #B6638F
$darkred = #9B2966
$verylightred = #E3C4D5
$lightneutral = #ECE2D0
$darkneutral = #BFB5AF
$verylightneutral = #F2ECE1
