@import url("//fonts.googleapis.com/css?family=Fira+Sans:300,300i,800");
body,
html {
  background: #f2ece1;
  -webkit-backface-visibility: hidden;
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  height: calc(100% - 40px);
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
h1.main-header {
  font-weight: 800;
  background: #bfb5af;
  color: #f2ece1;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  border-radius: 10px 10px 10px 10px;
}
p {
  font-size: 11pt;
  line-height: 1.5em;
}
p.subtitle {
  font-style: italic;
}
p.subtitle .emph {
  background: #e3c4d5;
  color: #9b2966;
  padding: 3px;
  border-radius: 2px 2px 2px 2px;
}
a {
  text-decoration: none;
  color: #0685aa;
  font-weight: 800;
  transition: color 0.3s ease;
}
a:hover {
  transition: none;
  color: #b6638f;
}
#chrome-store-badge {
  padding: 10px;
  border-radius: 10px 10px 10px 10px;
  width: 226px;
  height: 78px;
  margin: 30px auto;
  background: #0685aa;
  transition: none;
}
#chrome-store-badge:hover {
  transition: background 0.3s ease;
  background: #b6638f;
}
#container {
  width: 500px;
  margin: 40px auto 20px;
  text-align: center;
  height: 100%;
  padding: 1px;
}
#container #logo {
  margin: 5vh auto 25px;
  width: 200px;
  height: 200px;
  background: url("../img/zoopdog_clearbg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#container #instructions {
  display: none;
  text-align: left;
  font-size: 14px;
  line-height: 1.75em;
  width: 90%;
  margin: 0 auto;
  padding: 10px 0;
  background: url("../img/zoopdog_clearbg.png");
  background-repeat: no-repeat;
  background-size: 70px 70px;
  background-position: right;
}
#container #instructions .key {
  background: #bbb;
  color: #fff;
  font-size: 9pt;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  padding: 4px;
  border-radius: 2px 2px 2px 2px;
}
#container #textfield {
  width: 500px;
  margin: 0 auto;
  max-height: calc(100% - 150px);
  overflow-y: scroll;
  -webkit-user-select: auto;
  user-select: all;
  opacity: 0;
}
#container #textcredit,
#container #textfield,
#container #instructions {
  transition: all 0.3s ease;
}
#container select {
  margin: 0 0 0 10px;
  vertical-align: top;
}
.pace-running #textfield,
.pace-running #textcredit {
  opacity: 0;
}
#zoopdog-popup {
  margin-top: 5px;
  background: #fff;
  border: none;
  -webkit-box-shadow: 4px 4px 19px -2px rgba(0,0,0,0.47);
  -moz-box-shadow: 4px 4px 19px -2px rgba(0,0,0,0.47);
  box-shadow: 4px 4px 19px -2px rgba(0,0,0,0.47);
  border-radius: 10px 10px 10px 10px;
  line-height: 1em;
}
.textbox {
  background: #fff;
  font-family: "Fira Sans", sans-serif;
  line-height: 2em;
  font-size: 14pt;
  text-align: left;
  padding: 10px;
  outline: 0px;
  border-radius: 10px 10px 10px 10px;
  border: 5px solid #5bb1b7;
}
.textbox:focus,
.textbox:hover {
  border-color: #b6638f;
}
nav {
  position: fixed;
  background: #b6638f;
  width: 100%;
  top: 0;
  padding: 10px;
  left: 0;
  height: 40px;
  z-index: 500000000;
  text-align: center;
}
nav a {
  font-family: "Fira Sans", sans-serif;
  color: #e3c4d5;
  font-weight: 800;
  margin: 0 5px;
  padding: 2px 5px;
  border-radius: 5px 5px 5px 5px;
}
nav a:hover {
  color: #9b2966;
  padding: 2px 5px;
}
nav a.active,
nav a:active {
  color: #9b2966;
  background: #e3c4d5;
}
footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}
footer > div {
  margin: 0 auto;
  bottom: 0;
  background: #ece2d0;
  padding: 1px;
  width: 50%;
  height: 25px;
  text-align: center;
  border-radius: 20px 20px 0 0;
  transition: height 0.3s ease;
  z-index: 30000000;
}
footer > div:hover {
  height: 70px;
}
footer p {
  font-size: 12px;
  margin: 0.3em;
}
