nav 
  a(href="index.html") Home
  a(href="popupdict.html") Popup Dictionary
  a(href="pronunciation.html") Pronunciation Generator
  a(href="pronguide.html", target="_blank") Notation Guide
  a(href="homophones.html") Homophone Generator
footer
  div
    p
      | &copy; 2017 
      a(href="mailto:tabidots@gmail.com") Justin Douglas
      | . VNEDICT data by 
      a(href="http://www.denisowski.org/Vietnamese/Vietnamese.html", target="_blank") Paul Denisowski
      | . Wordlist by 
      a(href="https://github.com/duyetdev/vietnamese-wordlist", target="_blank") Hồ Ngọc Đức
      | .
    p
      | Inspired by 
      a(href="http://www.polarcloud.com/rikaichan/", target="_blank") Rikaichan
      | &nbsp;and&nbsp;
      a(href="https://easypronunciation.com/", target="_blank") EasyPronunciation.com
      | .
    p
      | The data for the pronunciation generator was compiled from&nbsp;
      a(href="https://en.wikipedia.org/wiki/Vietnamese_phonology", target="_blank") Wikipedia
      | , YouTube [
      a(href="https://www.youtube.com/channel/UCoHqnZy_SFICoaC0M-iLlRg", target="_blank") 1
      | &nbsp;
      a(href="https://www.youtube.com/channel/UCWbQ6k9-GxboKL4gQE1bz3w", target="_blank") 2
      | &nbsp;
      a(href="https://www.youtube.com/channel/UCA0ub9oR64O0x1F0PJkt2ZA", target="_blank") 3
      | ], and&nbsp;
      a(href="https://www.academia.edu/5346702/Vị_trí_của_tiếng_Quảng_Nam_trong_quá_trình_biến_đổi_âm_cuối_gốc_lưỡi", target="_blank") this paper
      | .
