// out: zoopdog-frame.css

@import colors

body
  margin 0
  padding 0
  overflow-x hidden
  white-space nowrap
  background #F2ECE1
html
  margin 10px 20px
  padding 0

#zoopdog-popup-lock-icon
  position fixed
  right 15px
  top 12px
  font-size 16pt
  visibility hidden

#zoopdog-popup-body
  font-family 'Fira Sans', sans-serif
  white-space normal
  h1
    color $lightblue
    margin 5px 0 10px
    white-space nowrap
    font-weight 800
    font-size 18pt
  ul
    font-weight 300
    font-size 10pt
    margin 0
    padding 10px 0 0 20px
    line-height 1.5em
    min-width 200px
    max-width 400px
    li
      margin 5px 0
      padding 0
      .zoopdog-pos
        background $lightred
        color white
        font-weight bold
        padding 2px 4px
        border-radius 5px 5px 5px 5px

.zd-definition:not(:last-child) ul
  border-bottom 1px solid $lightblue
  padding-bottom 20px !important
  margin-bottom 20px !important
